body {
  
}
@font-face{
  font-family:PostGrotesk;
  src:url(http://s3-us-west-1.amazonaws.com/affordability-module/PostGrotesk-Book.eot);
  src:url(http://s3-us-west-1.amazonaws.com/affordability-module/PostGrotesk-Book.eot?#iefix) format("embedded-opentype")
  ,url(http://s3-us-west-1.amazonaws.com/affordability-module/PostGrotesk-Book.woff) format("woff")
  ,url(http://s3-us-west-1.amazonaws.com/affordability-module/PostGrotesk-Book.ttf) format("truetype")
  ,url(http://s3-us-west-1.amazonaws.com/affordability-module/PostGrotesk-Book.svg#PostGroteskRegular) format("svg");
  font-weight:400;
  font-style:normal;
  font-display:swap;
}
@font-face{
  font-family:PostGrotesk;
  src:url(http://s3-us-west-1.amazonaws.com/affordability-module/PostGrotesk-Medium.eot);
  src:url(http://s3-us-west-1.amazonaws.com/affordability-module/PostGrotesk-Medium.eot?#iefix) format("embedded-opentype")
  ,url(http://s3-us-west-1.amazonaws.com/affordability-module/PostGrotesk-Medium.woff) format("woff")
  ,url(http://s3-us-west-1.amazonaws.com/affordability-module/PostGrotesk-Medium.ttf) format("truetype")
  ,url(http://s3-us-west-1.amazonaws.com/affordability-module/PostGrotesk-Medium.svg#PostGroteskBold) format("svg");
  font-weight:600;
  font-style:normal;
  font-display:swap;
}

@font-face {
  font-family: 'fontello';
  src:url(http://s3-us-west-1.amazonaws.com/affordability-module/fontello.ttf);
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: PostGrotesk,sans-serif,San Francisco,Roboto,Segoe UI Bold,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 15px;
  line-height: 1.5;
  font-style: normal;
  color: #3b4144;
}

div {
  box-sizing: inherit;
  display: block;
}

span {
  box-sizing: inherit;
}

.transition15 {
  transition: all .15s ease-in-out;
}

.noTextDecoration {
  text-decoration: none;
}

.clickable {
  cursor: pointer;
  outline : 0;
  text-decoration: none;
}

.notClickable {
  outline : 0;
  text-decoration: none;
}

.h3 {
  font-size: 24px;
  line-height: 1.4;
  margin: 5px 0;
  font-weight: 300;
  font-style: normal;
}

.h5 {
  font-size: 18px;
  line-height: 1.4;
  margin: 5px 0;
  font-weight: 700;
  font-style: normal;
}

.h6 {
  font-size: 15px;
  line-height: 1.4;
  margin: 5px 0;
  font-weight: 700;
  font-style: normal;
}

.h7 {
  font-size: 13px;
  line-height: 1.4;
  margin: 5px 0;
  font-style: normal;
}

.typeEmphasize {
  font-weight: 700 !important;
}

.typeWeightNormal {
  font-weight: 400 !important;
}

.typeLowLight {
  color: #869099;
}

.txtL {
  text-align: left;
}

.txtR {
  text-align: right;
}

.mtn {
  margin-top: 0px !important;
}

.mts {
  margin-top: 5px !important;
}

.mtm {
  margin-top: 10px !important;
}

.mtl {
  margin-top: 20px !important;
}

.mbl {
  margin-bottom: 20px !important;
}

.mbm {
  margin-bottom: 10px !important;
}

.mbs {
  margin-bottom: 5px;
}

.mbn {
  margin-bottom: 0px !important;
}

.mvl {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.affordabilitySection {
}

.man {
  margin: 0 !important;
}

.pbl {
  padding-bottom: 20px !important;
}

.pbm {
  padding-bottom: 10px !important;
}

.pbs {
  padding-bottom: 5px !important;
}

.pbn {
  padding-bottom: 0px! important;
}

.ptm {
  padding-top: 10px !important;
}

.pts {
  padding-top: 5px !important;
}

.ptn {
  padding-top: 0px !important;
}

.phs {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.phm {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.pvl {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.pln {
  padding-left: 0 !important;
}

.prm {
  padding-right: 10px !important;
}

.prn {
  padding-right: 0 !important;
}

.pbt8 {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

.padLR {
  padding-left: 6px;
  padding-right: 6px;
  position: relative;
  min-height: 1px;
}

.maxLimit {
  overflow: hidden;
  max-height: 7.5em;
}

.featureBody {
  max-width: 1040px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
}

.feature {
  max-width:693.33px;
  clear: both;
}

.featureSimilar {
  padding: 30px 0px 20px;
  background: transparent;
}

.featureAffordability {
  margin-top: 40px;
  margin-bottom: 40px;
  background: transparent;
}

.featureTitle {
  margin-top: 0 !important;
}

.marginLeft7 {
  margin-left: 7px;
}

.detailTitle {
  height: 1.05em;
  border-bottom-width: 1px !important;
  border-bottom-style: solid;
  border-bottom-color: #cdd0d2;
  margin-bottom: 20px !important;
}

.FT {
  background-color: #fff;
  padding-right: 10px !important;
}

.detailContentFlex {
  margin-left: -6px;
  margin-right: -6px;
  display: flex;
}

.detailContent {
  margin-left: -6px;
  margin-right: -6px;
  box-sizing: border-box;
  display: block;
  overflow: auto;
}

.detailContentLeft {
  margin-left: 16.67%;
  width: 41.67%;
  float: left;
}

.detailContentRight {
  width: 41.67%;
  float: left;
}

ul {
  list-style-type: none;
  margin: 0 !important;
  padding: 0;
}

.detailContentOne {
  margin-left: 16.67%;
  width: 83.33%;
}

.toggleMore {
  padding-top: 5px!important;
  padding-bottom: 5px!important;
  cursor: pointer;
  float: right;
}

.toggleMore:focus {
  outline: 0;
}

.toggleMoreText {
  color: #228959;
}

.toggleMoreArrow {
  color: #228959;
  font-family: fontello;
}

.priceHistoryOne {
  margin-left: 16.67%;
  width: 29%;
}

.priceHistoryTwo {
  width: 25%;
}

.priceHistoryThree {
  width: 29%;
}

.priceHistoryLine {
  margin-left: 16.67%;
  width: 83.33%;
  border: none;
  border-bottom: 1px solid #e8e9ea;
}

.negativeValue {
  color: #e13009;
}

.positiveValue {
  color: #228959;
}

.toggleHidden {
  display: none;
}

.toggledContent {
  font-family: fontello;
  font-style: normal;
  font-weight: 400;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1.1em;
  margin-right: .2em;
  vertical-align: baseline;
  text-align: center;
  font-variant: normal;
  text-transform: none;
}

.similarContents {
  display: flex;
  width: 100%;
  overflow-x: hidden;
}

.similarContents > div {
  display: flex;
  width: 100%;
  will-change: transform;
  transition: transform 0.45s ease-out;  
}

.similarEach {
  min-width: 27%;
  position: relative;
  border-radius: 4px 4px 0px 0px;
  margin: 0px 8px;
}

.similarLikeButton {
  position: absolute;
  top: 10px;
  right: 12px;
  z-index: 2001000;
  outline: 0;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: 0;
  background: 0 0;
}

.similarLikeButton:hover {
  transform: scale(1.08);
  transition: all .2s ease-out;
}

.similarHeart {
  font-family: fontello;
  font-style: normal;
  font-weight: 400;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1.1em;
  margin-right: .2em;
  vertical-align: baseline;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1.6em;
  -webkit-text-stroke: 2px white;
  color: rgba(71, 78, 82, .4);
}

.similarHeartLiked {
  font-family: fontello;
  font-style: normal;
  font-weight: 400;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1.1em;
  margin-right: .2em;
  vertical-align: baseline;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1.6em;
  -webkit-text-stroke: 2px white;
  color: #ed1b77;
}

.similarHomeImg {
  height: 160px;
  min-width: 100%;
  object-fit: cover;
}

.similarHomeDetail {
  border-left: 1px solid rgb(232, 233, 234);
  border-bottom: 1px solid rgb(232, 233, 234);
  border-right: 1px solid rgb(232, 233, 234);
  border-radius: 0px 0px 4px 4px;
}

.listInline {
  display: flex;
  overflow: hidden;
  text-overflow: ellipsis;
}

.listInline > div {
  padding-right: 10px;
}

.listInline > div > span {
  font-family: fontello;
  font-style: normal;
  font-weight: 400;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1.1em;
  margin-right: .2em;
  vertical-align: baseline;
  text-align: center;
  font-variant: normal;
  text-transform: none;
}

.similarCarouselButtons {
  position: relative;
  top: -154px;
}

.similarCarouselLeftButton {
  transition: opacity 200ms ease-in;
  opacity: 0;
  outline: 0;
  position: absolute;
  border: 0;
  margin: 0;
  padding: 0;
  background: 0 0;
  left: 9px;
  cursor: pointer;
}

.similarCarouselRightButton {
  transition: opacity 200ms ease-in;
  opacity: 0;
  outline: 0;
  position: absolute;
  border: 0;
  margin: 0;
  padding: 0;
  background: 0 0;
  right: 0px;
  cursor: pointer;
}

.similarCarouselOpacity0 {
  opacity: 0;
}

.similarCarouselOpacity1 {
  opacity: 1;
}

.similarCarouselLeftIcon {
  background-image: url(http://s3-us-west-1.amazonaws.com/affordability-module/control_left-arrow.svg);
  width: 56px;
  height: 56px;
}

.similarCarouselRightIcon {
  background-image: url(http://s3-us-west-1.amazonaws.com/affordability-module/control_right-arrow.svg);
  width: 56px;
  height: 56px;
}

.similarMoreOut {
  position: relative;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(237, 237, 238);
  overflow: hidden;
  margin: 0px 7px;
  cursor: pointer;
}

.similarMoreOut:hover {
  background-color: rgb(251, 251, 251);
}

.similarMoreIcon {
  margin-top: 16px;
  height: 30px;
  width: 30px;
  font-size: 30px;
  color: rgb(59, 65, 68);
}

.similarMoreListings {
  font-size: 24px;
  font-weight: bold;
  color: rgb(59, 65, 68);
  margin: 16px 16px 16px 0px;
}

.similarMoreButton {
  position: absolute;
  bottom: 16px;
  left: 5px;
  right: 0px;
  width: 96%;
  outline: 0;
  border: 1px solid #20c063;
  background: #20c063;
  color: #fff;
  margin: 0;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.2;
  padding: .6em 1em .5em;
  text-align: center;
  cursor: pointer;
  transition: all .15s ease-in-out;
}

.similarMoreButton:hover {
  background-color: #2ed975;
}

.affordabilityContents {
  overflow: hidden;
}

.affordabilityBox {
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  border: 1px solid #e8e9ea;
  border-radius: 4px;
  background-color: #f5f6f7;
}

.affordabilityBoxBody {
  padding: 0 30px;
}

.affordabilityColumn {
  width: 25%;
  padding-left: 6px;
  padding-right: 6px;
}

.affordabilityInputDivRed {
  display: flex;
  position: relative;
  width: 100%;
  height: 48px;
  outline: 0;
  border: 1px solid #e13009;
  border-radius: 4px;
  line-height: 1.2;
  transition: border .2s;
  background-color: #fff;
}

.affordabilityInputDiv {
  display: flex;
  position: relative;
  width: 100%;
  height: 48px;
  outline: 0;
  border: 1px solid #cdd1d4;
  border-radius: 4px;
  line-height: 1.2;
  transition: border .2s;
  background-color: #fff;
}

.affordabilityInputDiv:focus-within {
  border: 1px solid #20c063;
}

.aff_input {
  font-size: 18px;
  padding: .6em .8em .5em;
  border-radius: 4px;
  border: 0;
  outline: 0;
}

.aff_input_warn {
  color: #e13009;
  font-size: 14px;
  margin-top: 2px;
}

.aff_minWidth35 {
  width: 35px;
  min-width: 35px;
}

.aff_minWidth33 {
  width: 33px;
  min-width: 33px;
}

.aff_minWidth52 {
  width: 52px;
  min-width: 52px;
}

.aff_widthRest35 {
  width: calc(100% - 35px) !important;
}

.aff_widthRest120 {
  width: calc(100% - 120px) !important;
}

.aff_leftInputBorder {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 1px solid #cdd1d4 !important;
}

.aff_textAlignRight {
  text-align: right;
}

.aff_select {
  width: 100%;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

.aff_selectText {
  cursor: pointer;
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 18px;
  z-index: 1;
}

.aff_selectArrow {
  cursor: pointer;
  font-family: fontello;
  font-style: normal;
  font-weight: 400;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1.1em;
  margin-right: .2em;
  vertical-align: baseline;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  position: absolute;
  top: 12px;
  right: 5px;
  font-size: 18px;
  z-index: 1;
}

.affordabilityGraph {
  display: flex;
}

.affordabilityGraphLeft {
  position: relative;
  flex-grow: 5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.affordabilityGraphRight {
  flex-grow: 3;
  display: flex;
}

.affordabilityGraphBar {
  position: absolute;
  right: 0;
  top: 10%;
  height: 80%;
  border-right: 1px solid #cdd1d4;
}

.affordabilityGraphDonut {
  position: relative;
  margin-right: 30px;
  flex-basis: 250px;
}

.affordabilityGraphTypes {
  margin-top: 8px;
  margin-left: 0;
  margin-right: 0;
}

.affordabilityChart {
  width: 237px;
  height: 237px;
  margin: 1em auto;
  border-radius: 50%;
  background-image: conic-gradient(
    rgb(50, 168, 234) calc(var(--val1) * 1deg),
    white calc(var(--val1) * 1deg) calc((var(--val1) + 0.5) * 1deg),
    rgb(138, 206, 243) calc(var(--val1) * 1deg) calc(var(--val2) * 1deg),
    white calc(var(--val2) * 1deg) calc((var(--val2) + 0.5) * 1deg),
    rgb(251, 177, 0) calc(var(--val2) * 1deg) calc(var(--val3) * 1deg),
    white calc(var(--val3) * 1deg) calc((var(--val3) + 0.5) * 1deg),
    rgb(255, 120, 87) calc(var(--val3) * 1deg) calc(var(--val4) * 1deg),
    white calc(var(--val4) * 1deg) calc((var(--val4) + 0.5) * 1deg),
    rgb(253, 209, 103) calc(var(--val4) * 1deg)
  );
  image-rendering: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.affordabilityChart::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 75px);
  height: calc(100% - 75px);
  background: white;
  border-radius: inherit;
}

.affordabilityGraphType {
  margin-top: 11px;
  margin-bottom: 11px;
  display: flex;
  align-items: center;
}

.affordabilityGraphTypeLeft {
  text-transform: none;
  font-size: 17px;
  text-align: left;
  flex-grow: 1;
  line-height: 1.2;
}

.affordabilityGraphTypeLeft > span {
  width: 15px;
  height: 15px;
  margin-right: 8px;
  border-radius: 10px;
  display: inline-block;
}

.affordabilityGraphTypeRight {
  text-transform: none;
  font-size: 17px;
  text-align: right;
  padding-left: 5px;
  line-height: 1.2;
}

.affordabilityChartText {
  position: absolute;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding-bottom: 10px;
  z-index: 1;
}

.affordabilityChartTextUpper {
  font-size: 28px;
  font-weight: 700;
}

.affordabilityChartTextLower {
  color: #869099;
  font-size: 15px;
  font-weight: 300;
  line-height: 0;
}

.affordabilityNextSteps {
  margin: 20px;
  width: 100%;
  position: relative;
  padding-bottom: 30px;
  text-align: center;
}

.affordabilityNextStepsButton {
  width: 176px;
  border: 1px solid #20c063;
  background: #20c063;
  color: #fff;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
  outline: 0;
  padding: .6em 1em .5em;
  text-align: center;
  transition: all .15s ease-in-out;
  vertical-align: middle;
  display: inline-block;
  cursor: pointer;
  box-sizing: border-box;
}

.affordabilityNextStepsButton:hover {
  background: #2ed975;
  border: 1px solid #2ed975;
  color: #fff;
  transition: all .3s ease-in-out;
  outline: 0;
}

.affordabilityNextStepsMortgage {
  cursor: pointer;
  color: #10a75f;
  transition: all .15s ease-in-out;
}

.affordabilityNextStepsMortgage:hover {
  color: #20c063;
}